body {
    background-image: url('back.jpg');
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.navbar {
    display: flex;
}

.logo {
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
}


.main {
    margin-left: auto;
    margin-right: auto;
}

.main1 {
    display: inline-block;
    margin-right: 5rem;
}

.main2 {
   display: inline-block; 
   margin-left: 5rem;
}

.submit {
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #FF9A8B;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.submit:hover{
    color:#FF6A88;
    background-color: whitesmoke;
}

.r1{
    display: inline-block;
}

.heart{
    position: relative;
    top:8rem;
    width: 10rem;
    z-index: -1;
    transition: 0.5s;
}

.result{
    margin-top: 4rem;
}

/* .percentage {
    display: inline-block;
}

.result {
    display: inline-block;

} */

input[type=text] {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /* border: 1px solid #ccc;
  border-radius: 4px; */
  border-image-source: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  border-width: 10px;
  border-image-slice: 1;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;

}

input[type=text]:hover{
    box-shadow: 0 2px 3px 2px #FF6A88, 0 6px 20px 0 #FF6A88;
}

.heartm1{
    width: 3rem;
}

/* input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

input[type=submit]:hover {
    background-color: #45a049;
  } */

  @media only screen and (max-width: 780px) {
    .main1,.main2,.r1{
        display: block;
        margin: 0;
    }
    .heart{
        width: 5rem;
    }
    .result{
        font-size: 1rem;
    }
    .percentage{
        font-size: 1.5rem;
    }
    input[type=text] {
        margin: 0;
        width: 50%;
    }
    .submit{
        margin: 0;
    }
    .heart{
        top : 5rem;
    }
    .main2{
        padding-top: 4.5rem;
    }
    .logo{
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    .main{
        margin-top: 2rem;
    }
}

